.recipeDetailsContainer {
  display: flex;
}

.sideBar {
  display: flex;
}

.asideContent {
  padding: 60px 80px;
}

.recipeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.titles {
  display: flex;
  align-items: center;
}

.recipeHeader h2 {
  margin-left: 40px;
}

.recipeHeader span {
  margin-left: 40px;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.det {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 30px;
  margin-left: 33px;
}

.infos {
  margin-left: 70px;
}

.gramsAndTemp {
  display: flex;
  margin-bottom: 26px;
}

.weight {
  display: flex;
  margin-right: 50px;
}

.weight span {
  margin-left: 40px;
  border: 1px solid #aeb1b6;
  padding: 6px 4px 8px 4px;
  border-radius: 3px;
}

.temp span {
  margin-left: 25px;
  border: 1px solid #aeb1b6;
  padding: 6px 4px 8px 4px;
  border-radius: 3px;
}

.temp {
  display: flex;
  margin-left: 10px;
}

.assemblyTitle {
  margin-bottom: 10px;
}

.operatingTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.assemblyIngradients p {
  color: #aeb1b6;
}

.operatingInstructions p {
  color: #aeb1b6;
}

.actions {
  display: flex;
  margin-left: 600px;
}

.actions button{
  color: #5696ed;
  background-color: white;
  border: none;
  font-size: 14px;
}

.actions:first-child {
  margin-right: 5px;
}

.edit {
  display: flex;
  margin-right: 4px;
  cursor: pointer;
}

.delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.formContainer {
  margin-left: 20px;
}

.topForm {
  display: flex;
  margin-bottom: 20px;
}

.middleForm {
  display: flex;
}

.formContainer input {
  width: 250px;
  height: 40px;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 4px;
  outline: none;
  color: #5c8599;
  padding: 15px;
}

.name {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.weight {
  display: flex;
  flex-direction: column;
}

.middleForm textarea {
  width: 100%;
  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 5px;
  outline: none;
  color: #5c8599;
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

.entryTemperature {
  margin-left: 20px;
}

.entryTemperature input {
  width: 100px;
}

.assemblyIng {
  margin-right: 30px;
}